---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>splashpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">  
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/skeleton.css" />
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

</head>
<body>
  {% include bird-box.html %}
  <div class="content">

    
    <div class="container">


      <section class="about">

        <h3>Unique Styles</h3>
        <hr class="head">

        <p>Give your wardrobe a makeover with apparel and accessories from Unique Styles & Fashion Accessories in Miami FL. We carry high-quality merchandise that gives you a distinctive look for casual and business settings. Renew your appearance with trendy clothes and accessories from our Miami fl.store</p>

        <hr>
      </section>

    	{% include shopping.html %}
    	
    	<section class="about">

        <h3>Fine Tayloring</h3>
        <hr class="head">

        <p>We will meet again for every subsequent fitting - usually just once or twice, but, depending on the complexity of the design, it can be more. This is because thorough and detailed examination of exactly how the fabric hangs on your body.</p>

        <hr>
      </section>

      {% include periscope.html %}

      <section class="about">

        <h3>Rich History</h3>
        <hr class="head">

        <p>Fashion is a popular style or practice, especially in clothing, footwear, accessories, makeup, body piercing, or furniture. Fashion is a distinctive and often habitual trend in the style in which a person dresses. It is the prevailing styles in behaviour and the newest creations of textile designers..</p>

        <hr>
      </section>
      {% include floating_blog.html %}
    </div>



  </div>
{% include footer.html %}




<script src="assets/js/jquery-2.1.1.min.js"></script>
<script src="assets/js/functions.js" type="text/javascript"></script>
</body>
</html>