<footer >
	<div class="footerstuff">

		<div class="row">
			<div class="columns three social">
				<h5>Social</h5>
				<ul>
					<li>facebook</li>
					<li>twitter</li>
					<li>instagram</li>



				</ul>

			</div>

			<div class="columns three store">
				<h5>Other store</h5>
				<ul>
					<li> pengiun</li>
					<li>Ostrich</li>
					<li>parrot</li>
					


				</ul>



			</div>
			<div class="columns six newsletter">
				<p>First look and Exclusive Discounts straight to your inbox</p>

				<div class="row form">

				  <div class="eight columns">
				     
				      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
			    </div>
			    <div class="four columns">
			    	<input class="u-full-width button-primary" type="submit" >

				   
				     
			    </div>
			</div>
				

				
					


				


			</div>



		</div>



	</div>


</footer>