<section class="shopping-box ">

	

	<div class="shopping row ">
		<figure class="four columns">
			<img src="/assets/images/model1.jpg">
			<figcaption>Blackbird sweater $199</figcaption>



		</figure>
		<figure class="four columns">
			<img src="/assets/images/model2.jpg">
			<figcaption>Blackbird trousers $299</figcaption>

		</figure>
		<figure class="columns four">
			<img src="/assets/images/model3.jpg">
			<figcaption>Blackbird Jackets $599</figcaption>
		</figure>

	</div>
	<div class="shopping row ">
		<figure class="columns four">
			<img src="/assets/images/model1.jpg">
			<figcaption>Blackbird sweater $199</figcaption>
		</figure>
		<figure class="columns four">
			<img src="/assets/images/model3.jpg">
			<figcaption>Blackbird Jackets $599</figcaption>


		</figure>
		<figure class="columns four">
			<img src="/assets/images/model2.jpg">
			<figcaption>Blackbird trousers $299</figcaption>
		</figure>

	</div>
	<div class="shopping row ">
		<figure class="columns four">
			<img src="/assets/images/model3.jpg">

			<figcaption>Blackbird Jackets $599</figcaption>


		</figure>
		<figure class="columns four">
			<img src="/assets/images/model2.jpg">
			<figcaption>Blackbird trousers $299</figcaption>
		</figure>
		<figure class="columns four">
			<img src="/assets/images/model1.jpg">
			<figcaption>Blackbird sweater $199</figcaption>
		</figure>

	
</div>

</section>